# Pywikibot for data extracting and editing on wikipedia
pywikibot
# For computation
numpy
scikit-learn
pandas
# for graphical interface
matplotlib
# for database
sqlite3
# string comparison
diff-match-patch/python3
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
