<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antivandalism</title>
    <head>
        <style>
            pre, code {
                background-color: #eee;
                padding: 2px;
                font-family: 'Courier New', Courier, monospace;
            }
            pre {
                display: block;
                word-wrap: normal;
            }
            code {
                white-space: pre;
                display: inline;
            }
        </style>
    </head>
</head>
<body>
    Add the following code at the end of your <code>common.js</code> file.
    <pre>
        ;mw.loader.load('/w/index.php?title=ব্যবহারকারী:Nokib Sarkar/antiVandal.js&action=raw&ctype=text/javascript');
    </pre>
</body>
</html>