<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antivandalism</title>

    <head>
        <style>
            pre,
            code {
                background-color: #eee;
                padding: 2px;
                font-family: 'Courier New', Courier, monospace;
            }

            pre {
                display: block;
                word-wrap: normal;
                margin: 0;
            }

            code {
                white-space: pre;
                display: inline;
            }
        </style>
    </head>
</head>

<body>
    <details open>
        <summary>সর্বশেষ ভার্সন (ভার্সন ৩) : ১৫ই অক্টোবর ২০২৩ থেকে</summary>
        <p>আপনার <code>common.js</code> ফাইলের শেষে নিচের লাইনটি যুক্ত করুন।</p>
        <pre>
        ;mw.loader.load('/w/index.php?title=ব্যবহারকারী:Nokib Sarkar/antiVandal.js&action=raw&ctype=text/javascript');
    </pre>
    </details>
    <details>
        <summary>ভার্সন ২ : ১৪ই অক্টোবর ২০২৩ থেকে</summary>
        <p>আপনার <code>common.js</code> ফাইলের শেষে নিচের লাইনটি যুক্ত করুন।</p>
        <pre>
        ;mw.loader.load('/w/index.php?title=ব্যবহারকারী:Nokib Sarkar/antiVandal2.js&action=raw&ctype=text/javascript');
    </pre>
    </details>
    <details>
        <summary>ভার্সন ১: ১৫ই সেপ্টেম্বর ২০২৩ পর্যন্ত</summary>
        <p>আপনার <code>common.js</code> ফাইলের শেষে নিচের লাইনটি যুক্ত করুন।</p>
        <pre>
        ;mw.loader.load('/w/index.php?title=ব্যবহারকারী:Nokib Sarkar/antiVandal1.js&action=raw&ctype=text/javascript');
    </pre>
    </details>
</body>

</html>